.reseaux-contact {
    height: 650px;
    background: linear-gradient(rgb(255, 255, 255), #cccccc)
}
.link-iframe-reseaux {
    display: flex;
    height: 550px;
    justify-content: space-evenly;
}
.link-reseaux {
    display: flex;
    flex-direction: column;
    width: auto;
}
.link-reseaux > a {
    color:  #132A13;
    font-family: 'PT Sans', sans-serif;
    font-size: 2em;
    width: auto;
    text-decoration: none;
    margin-left: 0px;
    padding-top: 30px;
}
.link-reseaux > a:hover {
    text-decoration: underline;
}
.iframe-insta-reseaux {
    width: 500px;
    height: 500px;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
}
.iframe-tiktok-reseaux {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
    object-fit: cover;
}



.mail-tel-adresse-contact {
    height: 120px;
    display: flex;
    padding-left: 120px;
    width: auto;
}
.mail-contact > a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #31572C;
    font-size: 1.6em;
}
.mail-contact > a:hover {
    text-decoration: underline;
}
.tel-contact {
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #31572C;
}
.adresse-contact {
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    color: #31572C;
}
/* responsive */

@media screen and (max-width: 1155px) {
    .reseaux-contact {
        height: auto;
        flex-direction: row;
    }
    .link-iframe-reseaux {
        flex-direction: column;
        height: auto;
    }
    .link-reseaux {
        flex-direction: row;
        margin: 100px;
    }
    .iframe-insta-reseaux {
        margin-top: 10px;
    }
    .iframe-tiktok-reseaux {
        margin-top: 10px;
    }
    .mail-tel-adresse-contact {
        flex-direction: column;
        margin-top: 20px;
        height: auto;
    }
    .mail-tel-adresse-contact > div {
        margin-top: 10px;
        font-weight: 600;
    }
}