/* reset de la page */
* {
    margin: 0 auto;
    width: 100%;    
}
.menu-header {
    /* taile du header */
    width: 100%;
    background: url(img/p4.png);
    background-size: cover;
    z-index: -1;
    height: 1000px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.logo-link {
    /* met les éléments alignés */
    display: flex;
    background-color: transparent
}
.link {
    align-items: left;
}
.link:not(img) {
    /* tous les liens sans l'image */
    /* taille */
    width: 200px;
    height: 40px;
    /* couleur texte et background */
    color: white;
    /* fonts, taille, deco */
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8em;
    text-decoration: none;
    /* position */
    text-align: start;
    margin-top: 4%;
    margin-left: 3%;
}

.link > img {
    border-radius: 100%;
    width: 100px;
    position: absolute;
    top: 2%; left: 4%;
}
