* {
    width: 100%;
    margin: 0 auto;
}
.presentation-produit {
    background-color: #fff;
    height: 1000px;
    width: 100%;
}
.titre-de-la-presentation-du-produit {
    color:#000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 40px;
    height: 40px;
    font-size: 2.8em;
}
.image-separat {
    background-color: rgb(251, 122, 118);
    height: 400px;
    width: 400px;
    margin-top: 150px;
    border-radius: 20px;
}
.image-separat:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #000;
    transition: ease-in 0.3s;
}
.paragraphe-titre {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    width: 80%;
    font-size: 2.4em;
    text-align: left;
    text-decoration: underline;
    margin-left: 100px;
}
.presentation-paragraphe {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    padding-top: 30px;
    margin-left: 100px;
    width: 80%;
}
.acheter-button {
    position: absolute;
    left: 1200px; top: 2800px;
    background-color: #25184f;
    width: 350px;
    height: 125px;
    border-radius: 60px;
    box-shadow: 0px 6px #191136;
}
.acheter-button:active {
    box-shadow: 0 0 ;
    transform: translateY(6px);
}
.acheter-button > a {
    text-decoration: none;
}
.acheter-button > a > p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
    text-align: center;
    padding-top: 11%;
}