.service {
    height: 1000px;
    background: linear-gradient(rgb(206, 206, 206), rgb(255, 255, 255));
}

.contain-service {
    width: 100%;
    height: auto;
    display: flex;
}

.contain-picture-service {
    width: 900px;
    height: 600px;
    background-image: url(../../../imgLogoIcon/img/bird_005.jpg);
    background-size: cover;
    object-fit: cover;
    border-radius: 40px;
    margin-top: 200px;
    margin-left: 70px;
}

.title-service {
    font-family: 'PT Sans', sans-serif;
    font-size: 3em;
    padding-left: 70px;
    width: auto;
    height: auto;
    padding-top: 200px;
}
.paragraphe-service {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    width: auto;
    height: auto;
    padding-left: 70px;
    padding-top: 30px;
}

#myBtn-service {
    color: #31572C;
    font-size: 1.6em;
    font-family: 'Roboto', sans-serif;
    margin-left: 70px;
    width: auto;
    background-color: transparent;
    border: none;
}
#myBtn-service:hover {
    text-decoration: underline;
}
/* The Modal (background) */
.modal-service {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-service {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close-service {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .text-close-service {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
  }
  .close-service:hover,
  .close-service:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }