/* Base File Of Css */
* {
    margin: 0 auto;
    width: 100%;
}
body {
    background: #fff;
    /* rgba(221, 221, 221, 0.705) */
}
.logo-in-the-home-page {
    margin-top: 8%;
    width: 700px;
    height: 700px;
}
.home_page_entry {
    height: 100vh;
    background-color: red;
    position: relative;
}
.motto {
    font-family: 'Noto Serif Display', serif;
    font-size: 2.4em;
    width: auto;
    text-align: center;
    margin-top: -225px;
    font-weight: 500;
}
