.reveal-presentation > div{
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.reveal-presentation.active > div{
    transform: translateX(0%);
    opacity: 1;
}

.revealProduct > div {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.revealProduct.active > div{
    transform: translateX(0%);
    opacity: 1;
}

.revealService {
    transform: translateX(200%);
    opacity: 0;
    transition: transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.revealService.active {
    transform: translateX(0%);
    transform: initial;
    opacity: 1;
}