.entry-title {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    text-align: center;
    margin-top: 20px;
    color: #31572C;
    margin: 0 ;
}
.contain-image {
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px solid #000;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.column-image {
    width: 100%;
    margin: 10px;
}
.column-image > img {
    background-size: cover;
    width: 99%;
    object-fit: cover;
    border: 2px solid #000;
}


@media screen and (max-width: 1024px) {
    .contain-image {
      flex-direction: column;
    }
  }
  
.bouton-back {
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.back {
    color: #315b32;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
}
.back:hover {
    text-decoration: underline;
}