.carte1 {
    width: 300px;
    height: 200px;
    position: absolute; left: 10%; top: 10%;
    opacity: 0.75;
    animation: infinite;
    animation-duration: 14s;
    animation-name: move1;
    animation-timing-function: ease-out;
    background-color: green;
    border-radius: 20px;
}

@keyframes move1 {
    0% {
        transform: perspective(50px) translate3d(-20px, -10px, -1px) rotate(0.5turn);
    }
    50% {
        transform:  perspective(50px) translate3d(30px, 20px, 2px) rotate(0.51turn);
    }
    100% {
        transform: perspective(50px) translate3d(-20px, -10px, -1px) rotate(0.5turn);
    }
}

.carte2 {
    width: 200px;
    height: 200px;
    border-radius: 40px;
    position: absolute; left: 75%; top: 26%;
    opacity: 0.85;
    animation: infinite;
    animation-duration: 10s;
    animation-name: move2;
    animation-timing-function: ease-out;
    background-color: #4F772D;
}

@keyframes move2 {
    0% {
        transform: perspective(50px) translate3d(-24px, -14px, -3px) rotate(0.4turn);
    }
    50% {
        transform:  perspective(50px) translate3d(-42px, -18px, 3px) rotate(0.5turn);
    }
    100% {
        transform: perspective(50px) translate3d(-24px, -14px, -3px) rotate(0.4turn);
    }
}