.who-are-we {
    background-color: #ffffff;
    height: 700px;
    /* border-top: 4px solid #31572C; */
}
.presentation-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    padding-left: 70px;
    width: auto;
    height: auto;
    padding-top: 30px;
}
.description {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    width: auto;
    height: auto;
    padding-left: 70px;
    padding-top: 30px;
}
.link-in-the-button {
    width: 100%;
    padding-left: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    padding-top: 30px;
}
.link-in-the-button > a {
    color: #31572C;
    text-decoration: none;
}
.link-in-the-button:hover {
    text-decoration: underline;
}

.text--colomn {
    display: flex;
}

/* les trois images en colonne sur les côté droit */

.colomn-image {
    display: flex;
    grid-gap: 10px 10px;
    width: 100%;
    height: 700px;
}
.img {
    height: 500px;
}
.img > img {
    background: cover;
    object-fit: cover;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 35px;
}
.img:nth-child(1) {
    margin-top: 100px;
}
.img:nth-child(2) {
    margin-top: 44px;
}
.img:nth-child(3) {
    margin-top: 122px;
}


.img:nth-child(1):hover {
    margin-top: 100px;
    transform: translate(-12px, -6px);
    box-shadow: 12px 6px #90A955;
    border-bottom-right-radius: 35px;
    transition: cubic-bezier(.28,-0.01,0,1.04) 0.4s;
}

.img:nth-child(2):hover {
    margin-top: 100px;
    transform: translate(8px, -60px);
    box-shadow: -12px 6px #90A955;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    transition: cubic-bezier(.28,-0.01,0,1.04) 0.4s;
}

.img:nth-child(3):hover {
    margin-top: 100px;
    transform: translate(-2px, 12px);
    box-shadow: -6px 3px #90A955;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    transition: cubic-bezier(.28,-0.01,0,1.04) 0.4s;
}

